
#closeIcon {
  display: none;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

ul a {
  display: flex;
  margin-right: 3em;
  background: $dark-gray;
  padding: .5em .7em;
  box-shadow: 0 3px $secondary-color;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-decoration: none;
  font-family: $body-font;
  color: $light-gray;
  transition: background 1s, color .5s, box-shadow .5s, transform .5s;

  &:hover {
    background: $light-gray;
    color: $dark-gray;
    box-shadow: 0 3px gold;
    transform: scale(1.1);
  }
}



@media screen and (max-width: 768px) {





#menuToggle
{
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 2em;
  right: 2em;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: fixed;
  top: 2em;
  right: 2em;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: $secondary-color;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(8px, -1px);
  background: gold;

}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(2px, 8px);
}

/* This is the pop out menu
 * Make this absolute positioned
 * at the top right of the screen
 */
#menu
{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: 120vh;
  background: $secondary-color-light-opaque;
  margin: -5em 0 0 5em;

  width: 20em;
  padding: 5em 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  /* this part affects final destination of menu */
  transform: translate(0, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  margin: 1em;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  font-size: 22px;
}

#menu a {
  display: flex;
  width: 100%;
  padding: .5em;
  text-transform: uppercase;
  box-shadow: 0 3px $secondary-color;
  background: $dark-gray;
  font-family: $body-font;
  color: $light-gray;
  transition: background .5s, transform .5s, color .5s, box-shadow .5s;

  &:hover {
    background: $light-gray;
    color: $dark-gray;
    box-shadow: 0 3px gold;
    transform: scale(1.05);
  }
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: translate(-100%, 0);
}
}
