/* [ON BIG SCREEN] */
/* Wrapper */
// code to animate hamburger menu
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

#hamnav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems {
  list-style: none;
  display: flex;

}

#top-logo {
  max-width: 15em;
  min-width: 8em;
  padding: .5em 0 0 1em;
  left: 0;
  position: absolute;
}

#hamitems a {
  justify-content: flex-end;
  background: $dark-gray;
  align-self: center;
  color: white;
  font-family: $body-font;
  padding: .2em .5em;
  box-shadow: $secondary-color 0 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  white-space: nowrap;
  margin-right: 2em;

}
#hamitems a:hover {
  background: $light-gray;
  color: $dark-gray;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger Icon */


  #hamitems {
    margin-top: 0px;
    position: fixed;
  }



  /* Break down menu items into vertical */
  #hamitems li a {
    box-sizing: border-box;
    display: block;
    width: 100vw;
    text-align: center;
    border-top: 2px solid $light-gray;
    background: $secondary-color;
    padding: .75em;
    margin: auto;
    font-size: 1em;


    &:hover {
      background: $dark-gray
    }
  }
  #hamnav label {
    display: inline-block;
    color: $dark-gray;
    font-style: normal;
    font-size: 2.5em;
    padding: .1em .2em;
    position: fixed;
    z-index: 99;

    &:hover {
      color: $light-gray;
    }
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}
