main {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: top / cover no-repeat url(../img/Main_bg_2.jpg);
  height: 100vh;
  z-index: 1;


  &:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(120deg, #eaee44, #33d0ff);
      opacity: .7;
      height: 100%;
      width: 100%;
      z-index: -3;
  }


  }
  .banner {
    display: block;
    position: relative;
    margin: 0 15em 0 10em;
    top: 40%;
  }







  h1 {
    font-family: $header-font;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    box-shadow: $secondary-color 0 3px;
    line-height: 1.1em;
    padding: .3em 0;
  }
  h3 {
    font-family: $body-font;
    margin: 5px 0;
  }
    h3 .two {
      font-family: $header-font;
      font-style: italic;
  }


 .two {
     font-style: italic;
     font-family: $header-font;
     line-height: .5em;
     font-size: 1em
 }

//smaller screens
@media screen and (max-width: 768px) {
  main {
    position: relative;
    .banner {
      display: block;
      position: relative;
      margin: 0 5em 0 2.5em;
      top: 30%;
    }
    h1 {
      font-family: $header-font;
      font-size: 3em;
      text-transform: uppercase;
      margin: 0;
      box-shadow: $secondary-color 0 3px;
    }
    h3 {
      font-family: $body-font;
      margin: 5px 0;
      line-height: 1.2em;
    }
    .two {
        line-height: 1.2em;
    }
  }
}
