.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.page {
  width: 60%;
  margin: 20px auto 0 auto;
}


h2 {
  font-family: $header-font;
  color: $dark-gray;
  padding: 10px;
  font-size: 2em;
  margin: 0 40% 0 10%;
  border-bottom: $secondary-color solid 3px;
  //box-shadow: inset 2px -2px 2px $primary-color;
}

.info p {
  font-family: $body-font;
  color: $dark-gray;
  font-size: 1.1em;
  line-height: 1.8em;
}

contact_wrapper {
  display: flex;
}

#contact_wrapper p {
  border-left: $secondary-color 2px solid;
  border-bottom: $secondary-color 2px solid;
  padding: 1em;
  text-decoration: none;
  color: $dark-gray;
  max-width: 50%;
}




// smaller screens
@media screen and (max-width: 768px) {
  .page {
    width: 90%;
    margin: 20px auto 0 auto;
  }
}
