nav {
  display: flex;
  background: $light-gray;
  justify-content: space-around;
  align-content: center;
  width: 100vw;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-direction: row;
    margin-right: 5em;
    min-width: 20%;

    li {
      margin-left: 2em;
      min-width: 5em;
      display: flex;
      justify-content: center;

      a {
        color: $dark-gray;
        font-family: $body-font;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8em;
        white-space: nowrap;
      }
    }
  }
}
