footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark-gray;
  padding-bottom: 20px;
}

.footer_div {
  display: flex;
  flex-flow: column;
  min-width: 33%;
  justify-content: center;
  align-items: center;
}

#logo_footer_wrapper {
  width: 6em;
}

.st0 {
  fill: white;
}

a,
p {
  text-decoration: none;
  font-family: $body-font;
  color: $light-gray;
}

.footer_links {
  padding: 0.5em;
  box-shadow: 0 3px $secondary-color;
  text-transform: uppercase;
  margin: 0.7em 0;
  transition: box-shadow 0.5s, transform 0.2s;

  &:hover {
    box-shadow: 0 3px gold;
    transform: translateY(0.2em);
  }

  &:active {
    transform: translateY(0em);
  }
}

.footer_contact_info {
  font-size: 0.9em;
}

.footer_button {
  background: $secondary-color;
  padding: 0.7em;
  margin-bottom: 0.6em;
  border-radius: 10px;
  box-shadow: inset 1px 1px 3px $dark-gray;
  transition: transform 0.2s, background 0.5s, box-shadow 0.5s;
  text-transform: uppercase;

  &:hover {
    background: $secondary-color-light;
    transform: translateY(0.2em);
  }

  &:active {
    transform: translateY(0em);
  }
}

@media screen and (max-width: 700px) {
  footer {
    flex-flow: column;
    padding-top: 20px;
  }

  .footer_div {
    padding: 2em;
  }

  #logo_footer_wrapper {
    width: 5em;
  }
}
