@import url("https://fonts.googleapis.com/css?family=Noto+Serif:700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
/* [ON BIG SCREEN] */
/* Wrapper */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
  stroke: white;
}

.hamRotate180.active {
  transform: rotate(180deg);
  stroke: white;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
  stroke: white;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
  stroke: white;
}

.ham1.active .line {
  stroke: white;
}

#hamnav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* Hide Hamburger */
#hamnav label, #hamburger {
  display: none;
}

/* Horizontal Menu Items */
#hamitems {
  list-style: none;
  display: flex;
}

#top-logo {
  max-width: 15em;
  min-width: 8em;
  padding: 0.5em 0 0 1em;
  left: 0;
  position: absolute;
}

#hamitems a {
  justify-content: flex-end;
  background: #333333;
  align-self: center;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  padding: 0.2em 0.5em;
  box-shadow: #941320 0 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  white-space: nowrap;
  margin-right: 2em;
}

#hamitems a:hover {
  background: #ebebeb;
  color: #333333;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /* Show Hamburger Icon */
  #hamitems {
    display: flex;
    margin-top: 0px;
    position: fixed;
    width: 100vw;
  }

  #hamitems li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  /* Break down menu items into vertical */
  #hamitems li a {
    box-sizing: border-box;
    text-align: center;
    box-shadow: white 0px 3px;
    background: #941320;
    padding: 0.5em 5em;
    margin: auto;
    font-size: 1em;
  }
  #hamitems li a:hover {
    box-shadow: gold 0px 3px;
  }

  #hamnav label {
    display: inline-block;
    color: #333333;
    font-style: normal;
    font-size: 2.5em;
    padding: 0.1em 0.2em;
    position: fixed;
    z-index: 99;
  }
  #hamnav label:hover {
    color: #ebebeb;
  }

  /* Toggle Show/Hide Menu */
  #hamitems {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
    opacity: 95%;
    z-index: 98;
    background: #941320;
    height: 80vh;
  }
}
main {
  position: relative;
}
main .banner {
  display: block;
  position: relative;
  margin: 0 15em 0 10em;
  top: 40%;
}
main h1 {
  font-family: "Noto Serif", serif;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  box-shadow: #941320 0 3px;
}
main h3 {
  font-family: "Noto Sans TC", sans-serif;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  main {
    position: relative;
  }
  main .banner {
    display: block;
    position: relative;
    margin: 0 5em 0 2.5em;
    top: 40%;
  }
  main h1 {
    font-family: "Noto Serif", serif;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    box-shadow: #941320 0 3px;
  }
  main h3 {
    font-family: "Noto Sans TC", sans-serif;
    margin: 5px 0;
  }
}
.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.page {
  width: 60%;
  margin: 20px auto 0 auto;
}

h2 {
  font-family: "Noto Serif", serif;
  color: #333333;
  padding: 10px;
  font-size: 2em;
  margin: 0 40% 0 10%;
  border-bottom: #941320 solid 3px;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  color: #333333;
  font-size: 1.1em;
  line-height: 1.8em;
  padding: 0 30px 30px 30px;
}

.contact_info.send_contact {
  text-decoration: none;
  color: #ebebeb;
  background: #941320;
  padding: 1em;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .page {
    width: 90%;
    margin: 20px auto 0 auto;
  }
}
main {
  background: top/cover no-repeat url(../img/main_bg_bw.jpg) #941320;
  height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
