@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$primary-color: #333;
$secondary-color: #941320;
$secondary-color-light: rgba(148, 19, 32, .5);
$secondary-color-light-opaque:rgba(148, 19, 32, .9);
$light-gray: #ebebeb;
$dark-gray: #333333;
$header-font: 'Noto Serif', serif;
$body-font: 'Noto Sans', sans-serif;

@import 'hamnavbar';
@import 'home';
@import 'items';
@import 'form';
@import 'footer';



main {
  background: top / cover no-repeat url(../img/main_bg_bw.jpg) $secondary-color;
  height: 100vh;
}
