@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

$primary-color: #333;
$secondary-color: #941320;
$light-gray: #ebebeb;
$dark-gray: #333333;
$header-font: 'Noto Serif', serif;
$body-font: 'Noto Sans TC', sans-serif;

@import 'navbar';
@import 'home';
@import 'items';

* {
  //border: 1px solid black;
}

main {
  background: top / cover no-repeat url(../img/main_bg_bw.jpg) $secondary-color;
  height: 100vh;
}
